PythonScripts/12-Stu_RetrieveArticles/Unsolved/config.py
PythonScripts/--ARCHIVE--/Week 6/03-Ins_OpenWeatherRequest/Unsolved/config.py
PythonScripts/--ARCHIVE--/Week 6/04-Stu_Bujumbura/Unsolved/__pycache__/config.cpython-36.pyc
PythonScripts/--ARCHIVE--/Week 6/05-Ins_OpenWeatherDataFrame/Unsolved/config.py
PythonScripts/--ARCHIVE--/Week 6/05-Ins_OpenWeatherDataFrame/Solved/config.py
PythonScripts/--ARCHIVE--/Week 6/04-Stu_Bujumbura/config.py
PythonScripts/--ARCHIVE--/Week 6/03-Ins_OpenWeatherRequest/Solved/config.py
PythonScripts/--ARCHIVE--/Week 6/03-Ins_OpenWeatherRequest/Unsolved/config.py
PythonScripts/--ARCHIVE--/Week 6/04-Stu_Bujumbura/Unsolved/Stu_Bujumbura.ipynb
PythonScripts/--ARCHIVE--/Week 6/05-Ins_OpenWeatherDataFrame/Solved/config.py
PythonScripts/--ARCHIVE--/Week 6/05-Ins_OpenWeatherDataFrame/Unsolved/config.py
Homework 3/python-challenge
